{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static './Css/content_us.css' %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Contact</title>
</head>
<body  style="  background-color: rgba(65, 82, 66, 0.575);">

 
    <div class="contner">

        <section class="section1">
            <nav class="nav">
                <header>
                    <ul class="nav_header">
                        <li><a href="{% url 'home:home'  %}">Home</a> </li>
                        <li><a href="{% url 'cars:all_cars'  %}">Browse Cars</a> </li>
                        <li><a href="{% url 'contact_us:contact'  %}">Contact us</a> </li>
                        <li><a href="{% url 'abuot_team:All_employds'  %}">About our team</a> </li>
                    </ul>
            
                </header>
            </nav>
        </section>
        <section class="section2">
            <div>
                <h2 style="color: rgba(0, 0, 0);"><span>WM</span> <span> VIP </span> Car Rental</h2>
            </div>
            <div class="section2_div">
                <img style="max-width: 100%;height: auto" src="{% static './imges/cont_imge/slide-2.jpg'%}">
            </div>
            <div class="hder_titile">
                <h3>The Right Place to<br> Find Your Special Car</h4>
            </div>
        </section>
        <section class="section22">
          <div class="abut_us1">
              <h1 ><samp style="color: rgb(13, 104, 116);">Contact Us</h1>
            <div>
                <h3>Our Address</h3>
                <h5>{{myinfo.place}}</h5>
            </div>

            <div>
                <h3>Our Phone NO</h3>
                <h5>{{myinfo.phone_number}}</h5>
            </div>

            <div>
                <h3>Our Email Address</h3>
                <h5>{{myinfo.email}}</h5>
            </div>

            

          </div>
          <div class="abut_us2">
              <div class="form">
                <div class="sub-page-left box-9">

                    <h3><samp style="color: rgb(13, 104, 116);">Contact</samp> Form</h3>

                    <form  method="post" >
                        {% csrf_token %}
                      <fieldset>
                        <label>
                          <input type="text" value="Name"  name="name">
                        </label>
                        <label>
                          <input type="text" value="Email" name="email">
                        </label>
                        <label>
                          <input type="text" value="Phone" name='phone'>
                        </label>
                        <label>
                          <textarea onBlur="if(this.value==''){this.value='MESSAGE'}" name='message' onFocus="if(this.value=='MESSAGE'){this.value=''}">MESSAGE</textarea>
                        </label>
                        <div class="btns"><a href="#" class="button" >Send</a></div>
                      </fieldset>
                    </form>

                    
                  </div>
              </div>
          </div>
        </section>          

        <section class="section6" style="height:10rem">
           
            <div class="card" style="width: 100%; text-align:center; background-color: rgb(46, 46, 46)" >
                <h4>Contact Us</h4>
                <ul style="list-style: none;">
                    <li>  Let’s find for you a car<pr> suites your need ! </li>
                     <li>admin@vipcar.com
                    </li>
                    <li>0060123455677 WhatsApp Available !
                    </li>
                    
                </ul> 
                
            </div>
             
            
        </section>

    </div>

    
   
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>